.strong {
    font-weight: bold;
}

.rmargin {
    margin-right: 1rem;
}

.bmargin {
    margin-bottom: 1rem;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}


@media only screen and (min-width: 40.063em) {
    input[type="range"] {
        width: 35%;
        margin: 0 2rem;
    }
}

@media only screen and (min-width: 64.063em) {
    input[type="range"] {
        width: 45%;
        margin: 0 2.5rem;
    }
}